{% extends "base.html" %}

{% block title %}{{ block.super }} | Home {% endblock %}

{% block nav %}
	{% for p in pages %}
		{% if p.name == thispage %}
			<li class="active"><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% else %}
			<li><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% endif %}
	{% endfor %}
{% endblock nav %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>Other great resources</h1>
	<hr>
	<p>
    Actually, why don't we just use the 
    <a href="../guestbook">Sample Guestbook App</a>
    for this? At least until I get my act together.
  </p>
</div>
{% endblock content %}
