{% extends "base.html" %}

{% block title %}{{ block.super }} | Home {% endblock %}

{% block nav %}
	{% for p in pages %}
		{% if p.name == thispage %}
			<li class="active"><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% else %}
			<li><a href="{{ p.url }}">{{ p.name }}</a></li>
		{% endif %}
	{% endfor %}
{% endblock nav %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>Get Started</h1>
	<h2>This won't hurt a bit.</h2>
	<hr>
	<ol>
    <h2>
      <li>
        Install Python 2.7
        <p>
          If you haven't already done this, though,
          you'll probably have trouble writing 
          Python logic. 
        </p>
        <p>
          Assuming you're mostly on the front-end team, 
          <a href="http://www.python.org/getit/releases/2.7/">go here</a>
          and do what it says. Note that if you're on a Mac, 
          you probably already have Python. 
          It may or may not be the correct version; 
          be sure to check. 
        </p>
      </li>
      <hr>
      <li>
        Install the Google App Engine SDK
        <p>
          No worries if you don't have experience with GAE. 
          Just hit up 
          <a href="http://code.google.com/appengine/downloads.html#Google_App_Engine_SDK_for_Python">
            this page
          </a>
          and do what it tells you.
        </p>
      </li>
      <hr>
      <li> Install Django
        <p>
          I'm actually not sure this is necessary. 
          I don't think it is. Let me double-check. 
        </p>
      </li>
      <hr>
      <li>
        Download this thing. 
        <p>
          You can get the full thing 
          (with docs: basically what you're looking at)
          <a href="https://bitbucket.org/rattray/hackpack">here</a> 
          ('get source' or 'fork' in the upper right),
          but you should use
          it more for reference than as a template. 
          I would recommend taking a look at it, though, 
          as it was built expressly with reuse and 'teaching' 
          in mind. We'll get to this later. 
        </p>
        <p>
          Get the bare-bones content-free 
          version <a href="">here</a>. 
          This is what you should really be building from. 
        </p>
      </li>
      <hr>
      <li>
        
      </li>
    </h2>
  </ol>
</div>
{% endblock content %}
